body {
    background: url("../images/watercolour-background.jpg");
    text-align: center;
    height: 97vh;
    font-family: 'Raleway', sans-serif;
}

#main, #chats {
    width: 500px;
    height: 100%;
    margin: auto;
    text-align: left;
    background: #F9FFFF;
    padding: 0 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
    padding: 25px 5px 0;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    display: block;
    width: 400px;
    height: 50px;
    padding: 0;
    margin: 30px auto 20px;
}


.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.message-container {
    width: 500px;
    height: 75vh;
    overflow: scroll;
}

.message {
    padding: 10px 0;
}

.textbox {
    width: 100%;
    height: 100%;
    font-size: 12px;
    padding: 0;
    background: #FFF7FF;
    /*padding: 5px;*/
    resize: none;
}

.textbox:focus{
    outline: 0;
}
.user {
    color: #3B3985;
    font-weight: 100;
    text-shadow: 0 1px 1px #7056A8;
}

.user:hover {
    color: #D7484A;
    text-shadow: 0 1px 1px #F38059;
    cursor: pointer;
}

.button {
  background: linear-gradient(#C45957, #B0394F);
  margin: 0;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  float: right;
  padding: 8px 16px;
  margin-left: 7px;
}

.rooms {
  height: 29px;
  width: 80px;
}

button:focus {
    outline: 0;
}


.button:active {
  background: linear-gradient(#F36E6B, #D74560);
}